<a href="https://colab.research.google.com/github/sangttruong/Handy-Python/blob/master/LM6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
path = 'gdrive/My Drive/Colab Notebooks/Gin2/'
import pandas as pd

data = pd.read_csv(path + "June17_gamestates.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data

       GamestateNum  Starter  Knocker  Winner  Score0  ...  Ten  J  Q  K  Unnamed: 21
0                13        1        1       0      26  ...    0  0  0  0
1                 7        0        1       1     -25  ...    1  1  1  0
2                10        1        0       0      36  ...    1  0  0  0
3                10        0        1       0      27  ...    0  0  0  0
4                 7        1        1       1     -13  ...    0  0  3  0
...             ...      ...      ...     ...     ...  ...  ... .. .. ..          ...
82549            10        0        0       0      56  ...    0  0  0  0
82550             3        1        1       1     -43  ...    1  0  1  1
82551             4        0        1       1     -13  ...    1  0  0  0
82552            16        1        1       1      -5  ...    0  0  0  0
82553            13        0        1       0      27  ...    0  0  0  0

[82554 rows x 22 columns]

In [ ]:
data.columns

Index(['GamestateNum', 'Starter', 'Knocker', 'Winner', 'Score0', 'MeldNum0',
       'Deadwood0', 'Hitscore0', 'A', 'Two', 'Three', 'Four', 'Five', 'Six',
       'Seven', 'Eight', 'Nine', 'Ten', 'J', 'Q', 'K', 'Unnamed: 21'],
      dtype='object')

In [ ]:
data.describe()

       GamestateNum       Starter  ...             Q             K
count  82554.000000  82554.000000  ...  82554.000000  82554.000000
mean      10.041318      0.499285  ...      0.294704      0.278557
std        3.058133      0.500003  ...      0.743308      0.782768
min        2.000000      0.000000  ...      0.000000      0.000000
25%        8.000000      0.000000  ...      0.000000      0.000000
50%       10.000000      0.000000  ...      0.000000      0.000000
75%       12.000000      1.000000  ...      0.000000      0.000000
max       20.000000      1.000000  ...      4.000000      4.000000

[8 rows x 21 columns]

In [ ]:
y = data["Score0"]
X = data[['GamestateNum', 'MeldNum0', 'Deadwood0', 'Hitscore0', 'A', 'Two',
          'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 
          'J', 'Q', 'K']]

In [ ]:
y

0        26
1       -25
2        36
3        27
4       -13
         ..
82549    56
82550   -43
82551   -13
82552    -5
82553    27
Name: Score0, Length: 82554, dtype: int64

In [ ]:
X

       GamestateNum  MeldNum0  Deadwood0  Hitscore0  A  ...  Nine  Ten  J  Q  K
0                13         2          8          5  4  ...     0    0  0  0  0
1                 7         1         28          2  1  ...     0    1  1  1  0
2                10         2          0          6  0  ...     1    1  0  0  0
3                10         2          8          5  1  ...     0    0  0  0  0
4                 7         2         19          3  0  ...     0    0  0  3  0
...             ...       ...        ...        ... ..  ...   ...  ... .. .. ..
82549            10         3          0          3  3  ...     0    0  0  0  0
82550             3         0         52          4  1  ...     0    1  0  1  1
82551             4         1         22          5  1  ...     1    1  0  0  0
82552            16         2          9          6  1  ...     0    0  0  0  0
82553            13         2          0          2  0  ...     4    0  0  0  0

[82554 rows x 17 columns]

In [ ]:
import statsmodels.api as sm
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
X = sm.add_constant(X)

In [ ]:
results = sm.OLS(y,X).fit()

In [ ]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Score0   R-squared:                       0.717
Model:                            OLS   Adj. R-squared:                  0.717
Method:                 Least Squares   F-statistic:                 1.305e+04
Date:                Fri, 19 Jun 2020   Prob (F-statistic):               0.00
Time:                        23:45:53   Log-Likelihood:            -3.2881e+05
No. Observations:               82554   AIC:                         6.577e+05
Df Residuals:                   82537   BIC:                         6.578e+05
Df Model:                          16
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            1.1435      0.049     23.426      0.000       1.048       1.239
GamestateNum    -0.0488      0.018     -2.643      0.008      -0.085      -0.013
MeldNum0         6.9435      0.118     59.000      0.000       6.713       7.174
Deadwood0       -1.2678      0.007   -180.038      0.000      -1.282      -1.254
Hitscore0       -0.1483      0.027     -5.536      0.000      -0.201      -0.096
A                0.6301      0.057     11.028      0.000       0.518       0.742
Two              0.2425      0.059      4.097      0.000       0.127       0.359
Three            0.2541      0.061      4.144      0.000       0.134       0.374
Four             0.5432      0.061      8.894      0.000       0.424       0.663
Five             0.6801      0.060     11.379      0.000       0.563       0.797
Six              0.8677      0.058     14.983      0.000       0.754       0.981
Seven            0.9574      0.057     16.904      0.000       0.846       1.068
Eight            1.1406      0.056     20.415      0.000       1.031       1.250
Nine             1.1910      0.057     20.994      0.000       1.080       1.302
Ten              1.3069      0.064     20.314      0.000       1.181       1.433
J                1.1771      0.068     17.245      0.000       1.043       1.311
Q                1.2555      0.069     18.306      0.000       1.121       1.390
K                1.1889      0.065     18.251      0.000       1.061       1.317
==============================================================================
Omnibus:                     6635.103   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12572.466
Skew:                          -0.564   Prob(JB):                         0.00
Kurtosis:                       4.544   Cond. No.                     1.10e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.89e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
results.params

const           1.143508
GamestateNum   -0.048788
MeldNum0        6.943501
Deadwood0      -1.267809
Hitscore0      -0.148324
A               0.630056
Two             0.242524
Three           0.254117
Four            0.543244
Five            0.680145
Six             0.867653
Seven           0.957352
Eight           1.140599
Nine            1.191016
Ten             1.306935
J               1.177076
Q               1.255493
K               1.188875
dtype: float64